{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>UFC Fights Overview</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>

<body>
    <h1>Top UFC Fights</h1>

    <div class="fight-card">
        <h2>Conor McGregor vs Dustin Poirier</h2>
        <p>Date: July 10, 2021</p>
        <button onclick="showWinner('Dustin Poirier')">Show Winner</button>
        <p id="result1"></p>
    </div>

    <div class="fight-card">
        <h2>Kamaru Usman vs Colby Covington</h2>
        <p>Date: November 6, 2021</p>
        <button onclick="showWinner('Kamaru Usman')">Show Winner</button>
        <p id="result2"></p>
    </div>

    <div class="fight-card">
        <h2>Israel Adesanya vs Robert Whittaker</h2>
        <p>Date: February 12, 2022</p>
        <button onclick="showWinner('Israel Adesanya')">Show Winner</button>
        <p id="result3"></p>
    </div>

    <script src="script.js"></script>
</body>

</html>
